<%= render 'layouts/header' %>

<body class="flex flex-col h-screen font-sans antialiased text-gray-900">
    <main class="flex-grow bg-gray-100">
        <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 my-10 md:flex">
            <nav class="md:w-1/4 md:pr-8">
                <%= link_to edit_user_registration_path do %>
                <div class="mt-1 group flex items-center px-3 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md bg-gray-200 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:bg-gray-100 transition ease-in-out duration-150">
                    <span>
                        Profile
                    </span>
                </div>
                <% end %>
                <%= link_to "#" do %>
                <div class="mt-1 group flex items-center px-3 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:bg-gray-100 transition ease-in-out duration-150">
                    <span>
                        Billing
                    </span>
                </div>
                <% end %>
            </nav>
            <div class="mt-4 md:mt-0 md:w-3/4">
                <div class="mb-4 bg-white shadow sm:rounded-lg">
                    <div class="px-4 py-5 sm:p-6">
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                        <div>
                            <div>
                                <div class="border-b border-gray-200 pb-5 mb-6 sm:mb-5">
                                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                                        Profile
                                    </h3>
                                    <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
                                        Update your profile information.
                                    </p>
                                </div>
                                <%= render "devise/shared/error_messages", resource: resource %>
                                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                <div class="rounded-md bg-red-100 p-4 py-2 px-3">
                                    <h3 class="text-sm leading-5 font-medium text-red-700">
                                        <div>Currently waiting for confirmation from: <%= resource.unconfirmed_email %></div>
                                    </h3>
                                </div>
                                <% end %>
                                <div class="mt-6 grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">
                                    <div class="sm:col-span-6">
                                        <label for="photo" class="block text-sm leading-5 font-medium text-gray-700">
                                            Photo
                                        </label>
                                        <div class="mt-2 flex items-center">
                                            <span class="h-12 w-12 rounded-full overflow-hidden bg-gray-100">
                                                <%= image_tag avatar_url(current_user), class: "h-full w-full rounded-full" %>
                                            </span>
                                            <span class="ml-5 rounded-md shadow-sm">
                                                <a class="py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out" href="https://gravatar.com/">Change on gravatar.com</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-6 grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">
                                    <div class="sm:col-span-4">
                                        <%= f.label :email, class: "text-sm font-medium leading-5 text-gray-700" %>
                                        <div class="mt-1 rounded-md shadow-sm">
                                            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none block w-full px-3 py-2 border border-gray-400 rounded-md placeholder-gray-400 focus:outline-none focus:border-indigo-400 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
                                        </div>
                                    </div>
                                    <div class="sm:col-span-4">
                                        <%= f.label :name, class: "text-sm font-medium leading-5 text-gray-700" %>
                                        <div class="mt-1 rounded-md shadow-sm">
                                            <%= f.text_field :name, value: current_user.name, autocomplete: "name", class: "appearance-none block w-full px-3 py-2 border border-gray-400 rounded-md placeholder-gray-400 focus:outline-none focus:border-indigo-400 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
                                        </div>
                                    </div>
                                    <div class="sm:col-span-4">
                                        <%= f.label :password, class: "text-sm font-medium leading-5 text-gray-700" %>
                                        <div class="mt-1 rounded-md shadow-sm">
                                            <%= f.password_field :password, autocomplete: "new-password", class: "appearance-none block w-full px-3 py-2 border border-gray-400 rounded-md placeholder-gray-400 focus:outline-none focus:border-indigo-400 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
                                        </div>
                                        <div class="mt-2 text-sm text-gray-700">
                                            Leave this field blank if you don't want to change your password
                                        </div>
                                    </div>
                                    <div class="sm:col-span-4">
                                        <%= f.label :password_confirmation, class: "text-sm font-medium leading-5 text-gray-700" %>
                                        <div class="mt-1 rounded-md shadow-sm">
                                            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "appearance-none block w-full px-3 py-2 border border-gray-400 rounded-md placeholder-gray-400 focus:outline-none focus:border-indigo-400 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
                                        </div>
                                    </div>
                                    <div class="sm:col-span-4">
                                        <%= f.label :current_password, class: "text-sm font-medium leading-5 text-gray-700" %>
                                        <div class="mt-1 rounded-md shadow-sm">
                                            <%= f.password_field :current_password, autocomplete: "current-password", class: "appearance-none block w-full px-3 py-2 border border-gray-400 rounded-md placeholder-gray-400 focus:outline-none focus:border-indigo-400 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
                                        </div>
                                        <div class="mt-2 text-sm text-gray-700">
                                            We need your current password to confirm your changes
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-8 border-t border-gray-200 pt-5">
                            <div class="flex">
                                <button class="inline-flex rounded-md shadow-sm">
                                    <%= f.submit "Update", class: "cursor-pointer inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>
                                </button>
                                <span class="ml-3 inline-flex rounded-md shadow-sm">
                                    <%= link_to "Back", :back, class: "py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-600 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-800 transition duration-150 ease-in-out" %>
                                </span>
                            </div>
                        </div>
                        <% end %>
                        <div class="mt-6 grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">
                            <div class="sm:col-span-4">
                                <div class="mt-4 flex items-center justify-between">
                                    <p class="font-semibold text-gray-700">Unhappy?</p>
                                    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "cursor-pointer font-bold py-2 px-4 bg-red-200 rounded-md text-sm leading-5 font-medium text-red-600 hover:text-red-500 focus:outline-none transition duration-150 ease-in-out" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>